/* Page-specific styling */

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 96vh;
}

#content-main {
    display: flex;
    flex-direction: column;
    width: 60%;
    height:100%;
}

#content-tool {
    border-left-style: solid;
    border-left-color: lightgray;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.padding {
    padding: 2%;
}

.dropdown {
    margin-top: 5%;
}

.dropdown #toolbar-clocktype {
        padding: 1%;
        width: 80%;
    }

select {
    padding: 1%;
}

.dropdown #toolbar-ticking-sound {
    padding: 1%;
    width: 40%;
}

.dropdown #toolbar-timeup-sound {
    padding: 1%;
    width: 40%;
}

h5 {
    display: inline;
}

.snooze-op {
    display: inline;
    cursor: pointer;
    text-decoration: underline;
}
